= turbo_stream.remove "scheme_#{@scheme.id}_channels_empty"
= turbo_stream.append "scheme_#{@scheme.id}_channels", partial: 'apps/channel', locals: { channel: @channel, scheme: @scheme, app: @scheme.app }
= turbo_stream.append :notifications, partial: 'layouts/notifications'
