= turbo_stream.remove :empty_channel
= turbo_stream.append "scheme_#{@scheme.id}_channels", partial: 'apps/channel', locals: { channel: @channel, scheme: @scheme, app: @scheme.app }
= turbo_stream.append :notifications, partial: 'layouts/messages'
