= turbo_stream.append :notifications, partial: 'layouts/notifications'
= turbo_stream.remove @channel

- if @scheme.channels.count.zero?
  = turbo_stream.replace "#{dom_id(@scheme)}_channels", partial: 'apps/empty_channel'
