= turbo_stream.replace dom_id(@channel, :app), partial: 'apps/channel', locals: { channel: @channel, scheme: @scheme, app: @scheme.app }
= turbo_stream.append :notifications, partial: 'layouts/notifications'
