.git*
log
tmp
doc
spec
db/*.sqlite3
db/*.sqlite3-journal
public/system/*
vendor/bundle/*
node_modules/*
Guardfile

Dockerfile*
docker-compose*
.dockerignore

README.*
.travis.yml
.editorconfig
.rubocop.yml
.ruby-gemset
.ruby-version
.*env
.history
.bundle
.vscode
.DS_Store
.ruby-gemset
.ruby-version
config/puma.rb
db/schema.rb