.git*
db/*.sqlite3
db/*.sqlite3-journal
log/*
tmp/*
vendor/bundle/*
node_modules/*
.editorconfig
.rubocop.yml
.ruby-gemset
.ruby-version
.*env

Dockerfile*
docker-compose*
.dockerignore

README.*
.history
.bundle
.vscode
.DS_Store