# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/
build_info/
extensions/
bundler/
storage/
bin/importmap

# minimal Rails specific artifacts
/config/master*.key
/config/credentials.yml*
db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
db/*_schema.rb

# various artifacts
**.war
*.rbc
*.sassc
.redcar/
**.swp
.sass-cache
/config/config.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/assets
/public/packs
/public/backup
/public/packs-test
/public/system/
/public/uploads
/public/webfonts
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/specifications
rerun.txt
pickle-email-*.html
.zeus.sock
.cap_*
**.orig
*.pem
*.log
.DS_Store

# vscode
.vscode
.history
*.breakpoints

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json
node_modules/
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.pnpm-store

# Environment files that may contain sensitive data
.*env
.powenv
.rvmrc
.byebug_history

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/app/assets/builds/*
!/app/assets/builds/.keep


# Vite Ruby
/public/vite*

# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

# Ignore local vendored gem
/vendor/lib/*
