# Docker Compose 项目名（建议保留不变）
COMPOSE_PROJECT_NAME=zealot

######################################
# 常规配置
######################################

# 加密密钥，建议使用 openssl 或者 rails secret 生成
SECRET_TOKEN=GENERATE_NEW_ONE

# 域名配置
# ZEALOT_DOMAIN=zealot.test

# 如果使用 Nginx、Caddy、Apache 反向代理 Zealot 建议关闭
# RAILS_SERVE_STATIC_FILES=true

# 发送邮件配置
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=gmail.com
SMTP_USERNAME=you@gmail.com
SMTP_PASSWORD=yourpassword
SMTP_AUTH_METHOD=plain
SMTP_ENABLE_STARTTLS_AUTO=true

# 邮件默认收发人配置
ACTION_MAILER_DEFAULT_FROM=you@gmail.com
ACTION_MAILER_DEFAULT_TO=you@gmail.com

# OAuth 设置

## Google
## 从这里获取 Client ID 和 Secret: https://code.google.com/apis/console/
# GOOGLE_CLIENT_ID=
# GOOGLE_SECRET=

## LDAP

# Google Analytics 统计
# GOOGLE_ANALYTICS_UA='xxx'

######################################
# 开发使用变量 （非开发者请忽略下面）
######################################

# 环境
RAILS_ENV=production
NODE_ENV=production
RAILS_LOG_LEVEL=info

# More details about these Puma variables can be found in config/puma.rb.
# Which address should the Puma app server bind to?
BIND_ON=0.0.0.0:3000

# Puma supports multiple threads but in development mode you'll want to use 1
# thread to ensure that you can properly debug your application.
RAILS_MAX_THREADS=5

# Puma supports multiple workers but you should stick to 1 worker in dev mode.
WEB_CONCURRENCY=2

# Requests that exceed 5 seconds will be terminated and dumped to a stacktrace.
# Feel free to modify this value to fit the needs of your project, but if you
# have any request that takes more than 5 seconds you probably need to re-think
# what you are doing 99.99% of the time.
RACK_TIMEOUT_SERVICE_TIMEOUT=50

# The database name will automatically get the Rails environment appended to it
# such as: zealot_development or zealot_production.
ZEALOT_POSTGRES_HOST=postgres
ZEALOT_POSTGRES_USERNAME=postgres
ZEALOT_POSTGRES_PASSWORD=ze@l0t
ZEALOT_POSTGRES_DB_NAME=zealot

# The full Redis URL for the Redis cache.
REDIS_CACHE_URL=redis://redis:6379/0

# The namespace used by the Redis cache.
REDIS_CACHE_NAMESPACE=cache

# The full Redis URL for Active Job.
ACTIVE_JOB_URL=redis://redis:6379/0

# The queue prefix for all Active Jobs. The Rails environment will
# automatically be added to this value.
ACTIVE_JOB_QUEUE_PREFIX=zealot:jobs
