<div class="row"
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div>
    <h2>微信视频地址</h2>
<iframe class="video_iframe" data-vidtype="1" style="z-index: 1; width: 670px !important; height: 502.5px !important; overflow: hidden;" height="502.5" width="670" frameborder="0" data-src="https://v.qq.com/iframe/preview.html?vid=r03218rfj46&amp;width=500&amp;height=375&amp;auto=0" allowfullscreen="" src="http://v.qq.com/iframe/player.html?vid=r03218rfj46&amp;width=670&amp;height=502.5&amp;auto=0" scrolling="no"></iframe>
  </div>
<div>
    <h2>腾讯视频分享地址</h2>
    <iframe frameborder="0" width="640" height="498" src="http://v.qq.com/iframe/player.html?vid=r03218rfj46&tiny=0&auto=0" allowfullscreen></iframe>
  </div>
<div>
    <h2>穷游帖子详情地址</h2>
    <iframe class="video_iframe" id="video_iframe_2" width="372" height="210" frameborder="0" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" allowtransparency="true" src="http://v.qq.com/x/cover/pcqohvp9x59e33j/r03218rfj46.html" scrolling="no"></iframe>
    </div>
  </div>
</div>