<script>
$('.cover').removeClass('hide');
$('.wechat-tips').removeClass('hide');
$('.navbar-fixed-top').css('z-index', 0);
</script>

<h1>微信用户</h1>
<p>由于微信的限制，麻烦按照操作提示进行操作。</p>

<ol>
  <li>点击右上角菜单</li>
  <li>在Safari中打开</li>
  <li>如果是登录状态可点击安装，否则需要登录操作</li>
</ol>
