li.nav-item role="presentation"
  button#login-tabs-standard-tab.nav-link.active data-bs-toggle="pill" data-bs-target="#login-tabs-standard" type="button" role="tab" aria-controls="login-tabs-standard" aria-selected="true"
    = t('devise.normal.title')
