- if Setting.passwordless_login_enabled
  li.nav-item role="presentation"
    button#login-tabs-passwordless-tab.nav-link data-bs-toggle="pill" data-bs-target="#login-tabs-passwordless"
      = t('devise.passwordless.title')
