= turbo_stream.remove :empty_scheme
/ = turbo_stream.append :schemes, partial: 'apps/scheme', locals: { scheme: @scheme, app: @app }
= turbo_stream.replace :schemes, partial: 'apps/schemes', locals: { app: @app }

= turbo_stream.append :notifications, partial: 'layouts/notifications'
