0.0.0.0 {
    gzip
    log stdout

    # generate cert tool: mkcert - https://github.com/FiloSottile/mkcert
    tls {$ZEALOT_CERT} {$ZEALOT_CERT_KEY}

    # serve assets of rails
    root /app/public

    # self-signed ssl need to open download
    # rewrite /cert/zealot.pem {$ZEALOT_CERT}

    proxy / http://zealot:3000 {
        except /assets /packs /uploads /config /favicon.ico /robots.txt

        transparent
        header_upstream X-Marotagem true
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
    }
}
