{
  "openapi": "3.1.0",
  "info": {
    "title": "Zealot API V1",
    "version": "v1.2"
  },
  "servers": [
    {
      "url": "https://tryzealot.ews.im/api",
      "description": "Demo server"
    }
  ],
  "paths": {
    "/apps": {
      "get": {
        "summary": "应用列表",
        "tags": [
          "Apps"
        ],
        "description": "获取所有应用列表详情，支持分页，按照最新创建时间倒序",
        "operationId": "listApps",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/perPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "list of apps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppIndex"
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{id}": {
      "get": {
        "summary": "Translation missing: zh-CN.api.apps.get_app.title",
        "tags": [
          "Apps"
        ],
        "description": "Translation missing: zh-CN.api.apps.get_app.description",
        "operationId": "getApp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An App",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppIndex"
                }
              }
            }
          },
          "401": {
            "description": "invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/upload": {
      "post": {
        "summary": "Translation missing: zh-CN.api.apps.upload_app.title",
        "tags": [
          "Apps"
        ],
        "description": "Translation missing: zh-CN.api.apps.upload_app.description",
        "operationId": "uploadApp",
        "parameters": [

        ],
        "responses": {
          "201": {
            "description": "an release of app uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppIndex"
                }
              }
            }
          },
          "401": {
            "description": "invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/UploadAppOptions"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "token": [

      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "token": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "User token authentication."
      }
    },
    "parameters": {
      "pageParam": {
        "in": "query",
        "name": "page",
        "required": false,
        "description": "Pagination page",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "default": 1
        }
      },
      "perPageParam": {
        "in": "query",
        "name": "per_page",
        "required": false,
        "description": "Page size",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      }
    },
    "schemas": {
      "AppIndex": {
        "description": "App returned in a list",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "schemes": {
            "type": "array",
            "$ref": "#/components/schemas/Scheme"
          }
        }
      },
      "Scheme": {
        "description": "Scheme object",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "new_build_callout": {
            "type": "boolean"
          },
          "retained_builds": {
            "type": "integer",
            "format": "int32"
          },
          "channels": {
            "type": "array",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "description": "Channel object",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "device_type": {
            "type": "string"
          },
          "bundle_id": {
            "type": "string"
          },
          "git_url": {
            "type": "string"
          },
          "has_password": {
            "type": "boolean"
          }
        }
      },
      "plainChangelogApp": {
        "description": "App object with plaintext changelog",
        "type": "object",
        "properties": {
          "channel_key": {
            "type": "string"
          },
          "file": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "release_type": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "changelog": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "git_commit": {
            "type": "string"
          },
          "ci_url": {
            "type": "string"
          },
          "custom_fields": {
            "type": "array"
          }
        }
      },
      "jsonChangelogApp": {
        "description": "App object with plaintext changelog",
        "type": "object",
        "properties": {
          "channel_key": {
            "type": "string"
          },
          "file": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "release_type": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "changelog": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "git_commit": {
            "type": "string"
          },
          "ci_url": {
            "type": "string"
          },
          "custom_fields": {
            "type": "array"
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "401 Unauthorized Response",
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  },
  "definitions": {
    "UploadAppOptions": {
      "description": "Upload app form data options",
      "type": "object",
      "required": [
        "channel_key"
      ],
      "properties": {
        "channel_key": {
          "type": "string"
        },
        "file": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "release_type": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "changelog": {
          "type": "string"
        },
        "branch": {
          "type": "string"
        },
        "git_commit": {
          "type": "string"
        },
        "ci_url": {
          "type": "string"
        },
        "custom_fields": {
          "type": "array"
        }
      }
    }
  }
}