{
  "openapi": "3.1.0",
  "info": {
    "title": "Zealot API",
    "version": "v1.3",
    "description": "文档可能提供或没有提供测试接口的工具，便于快速测试，你还可以使用如下工具：\n\n- [cURL](https://curl.se/) (推荐，命令行工具)\n- [Bruno](https://www.usebruno.com/)\n- [Postman](https://www.postman.com/downloads/)\n- 任意浏览器，如果你不需要设置 headers 或请求主体\n\n准备好工具，你可以通过 `GET` 请求 {host}/version 可看到 Zealot 版本信息：\n\n```json\n{\n  \"version\": \"5.2.3\",\n  \"vcs_ref\": \"effe99c25b79fd55d3e1959ea3af0bcb6b75ba1d\",\n  \"build_date\": \"2024-05-23T06:04:48.989Z\"\n}\n```\n\n## 接口认证\n\n接口目前仅提供在用户密钥认证方式，参数是 `token`，请求接口时可在接口 query 或表单字段中传递此字段。\n\n```\nhttps://tryzealot.ews.im/api/users?token={token}\n```\n\n### 用户密钥\n\n用户密钥在[用户详情](/docs/user-guide/user_settings)最底部找到。\n"
  },
  "servers": [
    {
      "url": "https://tryzealot.ews.im/api",
      "description": "演示服务器"
    }
  ],
  "paths": {
    "/apps": {
      "get": {
        "summary": "获取应用列表",
        "tags": [
          "应用"
        ],
        "description": "获取所有应用列表详情，支持分页，按照最新创建时间倒序",
        "operationId": "listApps",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/perPageParam"
          }
        ],
        "responses": {
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "200": {
            "description": "应用列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppIndex"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "创建应用",
        "tags": [
          "应用"
        ],
        "description": "根据应用名创建应用",
        "operationId": "createApp",
        "parameters": [

        ],
        "responses": {
          "201": {
            "description": "应用详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/AppOptions"
              }
            }
          }
        }
      }
    },
    "/apps/{id}": {
      "get": {
        "summary": "获取应用详情",
        "tags": [
          "应用"
        ],
        "description": "获取应用详情",
        "operationId": "getApp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "应用详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppIndex"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "创建应用",
        "tags": [
          "应用"
        ],
        "description": "根据应用名创建应用",
        "operationId": "updateApp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "应用详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/AppOptions"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "删除应用",
        "tags": [
          "应用"
        ],
        "description": "删除指定应用 ID 的所有数据，包括所有应用类型、渠道及已上传的应用版本",
        "operationId": "destroyApp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "已删除应用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/apps/versions": {
      "get": {
        "summary": "应用渠道的上传版本列表",
        "security": [

        ],
        "tags": [
          "应用"
        ],
        "description": "查询应用单一渠道的上传版本列表，版本列表按上传时间倒序",
        "operationId": "listAppVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/channelKeyParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/perPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "应用详情及版本列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersionsIndex"
                }
              }
            }
          },
          "404": {
            "description": "应用未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/apps/latest": {
      "get": {
        "summary": "搜索指定版本后面的应用版本列表",
        "security": [

        ],
        "tags": [
          "应用"
        ],
        "description": "查询应用单一渠道的最新版本列表，版本列表按上传时间倒序",
        "operationId": "getLatestApp",
        "parameters": [
          {
            "$ref": "#/components/parameters/channelKeyParam"
          },
          {
            "$ref": "#/components/parameters/releaseVersionParam"
          },
          {
            "$ref": "#/components/parameters/buildVersionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "最新上传应用版本列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersionsIndex"
                }
              }
            }
          },
          "404": {
            "description": "应用未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/apps/upload": {
      "post": {
        "summary": "上传应用",
        "tags": [
          "应用"
        ],
        "description": "上传 iOS、Android、macOS、Linux 或 Windows 应用",
        "operationId": "uploadApp",
        "parameters": [

        ],
        "responses": {
          "201": {
            "description": "已上传的应用版本详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppIndex"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/UploadAppOptions"
              }
            }
          }
        }
      }
    },
    "/schemes/{scheme_id}/channels": {
      "get": {
        "summary": "获取应用渠道详情",
        "tags": [
          "应用渠道"
        ],
        "description": "获取应用渠道详情",
        "operationId": "getChannel",
        "parameters": [
          {
            "name": "scheme_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "应用渠道详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用渠道未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "创建应用渠道",
        "tags": [
          "应用渠道"
        ],
        "description": "创建应用渠道",
        "operationId": "createChannel",
        "parameters": [
          {
            "name": "scheme_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Translation missing: zh-CN.api.channels.default.responses.create",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用渠道未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/ChannelOptions"
              }
            }
          }
        }
      }
    },
    "/channels/{id}": {
      "put": {
        "summary": "更新应用渠道",
        "tags": [
          "应用渠道"
        ],
        "description": "更新应用渠道的",
        "operationId": "updateChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "更新应用渠道信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用渠道未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/ChannelOptions"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "删除应用渠道",
        "tags": [
          "应用渠道"
        ],
        "description": "从应用中删除指定应用渠道",
        "operationId": "deleteChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "应用渠道文件",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Destroyed"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用渠道未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_id}/collaborators/{user_id}": {
      "get": {
        "summary": "获取应用成员详情",
        "tags": [
          "应用成员"
        ],
        "description": "获取应用成员详情",
        "operationId": "getCollaborator",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "应用成员详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collaborator"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用成员未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "添加用户到应用成员",
        "tags": [
          "应用成员"
        ],
        "description": "添加指定用户到指定应用成员列表",
        "operationId": "createCollaborator",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Translation missing: zh-CN.api.collaborators.default.responses.create",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collaborator"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用成员未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/CollaboratorOptions"
              }
            }
          }
        }
      },
      "put": {
        "summary": "更新应用成员权限",
        "tags": [
          "应用成员"
        ],
        "description": "更新应用成员的权限",
        "operationId": "updateCollaborator",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "更新应用成员信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collaborator"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用成员未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/CollaboratorOptions"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "删除应用成员",
        "tags": [
          "应用成员"
        ],
        "description": "从应用中删除指定应用成员",
        "operationId": "deleteCollaborator",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "应用成员文件",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Destroyed"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用成员未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/debug_files": {
      "get": {
        "summary": "获取调试文件列表",
        "tags": [
          "调试文件"
        ],
        "description": "获取所有调试文件列表详情，支持分页，按照最新创建时间倒序",
        "operationId": "listDebugFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/channelKeyParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/perPageParam"
          }
        ],
        "responses": {
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "200": {
            "description": "DebugFiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DebugFile"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "上传调试文件",
        "tags": [
          "调试文件"
        ],
        "description": "上传 dSYM 或 Proguard 打包成 zip 压缩调试文件",
        "operationId": "uploadDebugFile",
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "DebugFile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebugFile"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "调试文件未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/DebugFileOptions"
              }
            }
          }
        }
      }
    },
    "/debug_files/{id}": {
      "get": {
        "summary": "获取调试文件详情",
        "tags": [
          "调试文件"
        ],
        "description": "获取调试文件详情",
        "operationId": "getDebugFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DebugFile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebugFile"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "调试文件未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "删除调试文件",
        "tags": [
          "调试文件"
        ],
        "description": "删除指定调试文件 ID 的所有数据，包括上传的 dSYM 或 Proguard 文件",
        "operationId": "destroyDebugFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "已删除调试文件",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Destroyed"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "调试文件未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_id}/schemes": {
      "get": {
        "summary": "获取应用类型详情",
        "tags": [
          "应用类型"
        ],
        "description": "获取应用类型详情",
        "operationId": "getScheme",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "应用类型详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scheme"
                  }
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用类型未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "创建应用类型",
        "tags": [
          "应用类型"
        ],
        "description": "创建应用类型",
        "operationId": "createScheme",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Translation missing: zh-CN.api.schemes.default.responses.create",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scheme"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用类型未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/SchemeOptions"
              }
            }
          }
        }
      }
    },
    "/schemes/{id}": {
      "put": {
        "summary": "更新应用类型",
        "tags": [
          "应用类型"
        ],
        "description": "更新应用类型的",
        "operationId": "updateScheme",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "更新应用类型信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scheme"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用类型未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/SchemeOptions"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "删除应用类型",
        "tags": [
          "应用类型"
        ],
        "description": "从应用中删除指定应用类型",
        "operationId": "deleteScheme",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "应用类型文件",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Destroyed"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "应用类型未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "获取用户列表",
        "tags": [
          "用户"
        ],
        "description": "获取用户信息的合集，不会返回敏感信息，比如密码",
        "operationId": "listUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "用户列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "用户未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "创建用户",
        "tags": [
          "用户"
        ],
        "description": "创建用户",
        "operationId": "createUser",
        "parameters": [

        ],
        "responses": {
          "201": {
            "description": "Translation missing: zh-CN.api.users.default.responses.create",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "用户未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/UserOptions"
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "获取用户详情",
        "tags": [
          "用户"
        ],
        "description": "获取用户详情",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "用户详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "用户未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "更新用户",
        "tags": [
          "用户"
        ],
        "description": "更新用户的个性化设置、密码等",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "更新用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "用户未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/definitions/UserOptions"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "删除用户",
        "tags": [
          "用户"
        ],
        "description": "删除用户",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "用户文件",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Destroyed"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "用户未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/users/search": {
      "get": {
        "summary": "搜索用户",
        "tags": [
          "用户"
        ],
        "description": "根据电子邮箱搜索用户",
        "operationId": "searchUser",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Translation missing: zh-CN.api.users.default.responses.search",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "用户未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/lock": {
      "get": {
        "summary": "停用用户",
        "tags": [
          "用户"
        ],
        "description": "停用用户后不会影响之前已创建的数据、仅仅是无法再登录",
        "operationId": "lockUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "更新用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "用户未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/unlock": {
      "delete": {
        "summary": "启用用户",
        "tags": [
          "用户"
        ],
        "description": "启用用户后可以重新登录系统",
        "operationId": "unlockUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "path"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "更新用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "用户密钥认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "用户未找到",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "token": [

      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "token": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "用户密钥"
      }
    },
    "parameters": {
      "channelKeyParam": {
        "in": "query",
        "name": "channel_key",
        "required": true,
        "description": "应用渠道 Key",
        "schema": {
          "type": "string"
        }
      },
      "buildVersionParam": {
        "in": "query",
        "name": "build_version",
        "required": true,
        "description": "内部版本号",
        "schema": {
          "type": "string"
        }
      },
      "releaseVersionParam": {
        "in": "query",
        "name": "release_version",
        "required": true,
        "description": "主版本号",
        "schema": {
          "type": "string"
        }
      },
      "pageParam": {
        "in": "query",
        "name": "page",
        "required": false,
        "description": "页码",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "default": 1
        }
      },
      "perPageParam": {
        "in": "query",
        "name": "per_page",
        "required": false,
        "description": "单页数量",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      }
    },
    "schemas": {
      "AppIndex": {
        "description": "应用列表",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "schemes": {
            "type": "array",
            "$ref": "#/components/schemas/Scheme"
          }
        }
      },
      "AppVersionsIndex": {
        "description": "Translation missing: zh-CN.api.schemas.app_versions_index.description",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "app_name": {
            "type": "string",
            "example": "First App"
          },
          "bundle_id": {
            "type": "string",
            "example": "*"
          },
          "git_url": {
            "type": "string",
            "example": "https://github.com/tryzealot/zealot"
          },
          "app": {
            "$ref": "#/components/schemas/App"
          },
          "scheme": {
            "$ref": "#/components/schemas/Scheme"
          },
          "releases": {
            "type": "array",
            "$ref": "#/components/schemas/Release"
          }
        }
      },
      "App": {
        "description": "应用",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "First App"
          },
          "schemes": {
            "type": "array",
            "$ref": "#/components/schemas/Scheme"
          },
          "collaborators": {
            "type": "array",
            "$ref": "#/components/schemas/Collaborator"
          }
        }
      },
      "Collaborator": {
        "description": "应用成员",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "username": {
            "type": "string",
            "example": "foo"
          },
          "email": {
            "type": "string",
            "example": "foo@example.com"
          },
          "role": {
            "type": "string",
            "example": "developer"
          }
        }
      },
      "Scheme": {
        "description": "应用类型",
        "type": "object",
        "examples": {
          "$ref": "#/components/examples/Scheme"
        },
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Production"
          },
          "new_build_callout": {
            "type": "boolean",
            "example": true
          },
          "retained_builds": {
            "type": "integer",
            "format": "int32",
            "example": 0
          },
          "channels": {
            "type": "array",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "description": "应用渠道",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 4
          },
          "name": {
            "type": "string",
            "example": "App Store"
          },
          "slug": {
            "type": "string",
            "example": "Sk3y"
          },
          "device_type": {
            "type": "string",
            "example": "Android"
          },
          "bundle_id": {
            "type": "string",
            "example": "*"
          },
          "git_url": {
            "type": "string",
            "example": "https://github.com/tryzealot/zealot"
          },
          "has_password": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "Release": {
        "description": "Translation missing: zh-CN.api.schemas.release.description",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 100
          },
          "app_name": {
            "type": "string",
            "example": "Zealot"
          },
          "bundle_id": {
            "type": "string",
            "example": "im.ews.zealot"
          },
          "source": {
            "type": "string",
            "example": "API"
          },
          "branch": {
            "type": "string",
            "example": "develop"
          },
          "git_commit": {
            "type": "string",
            "example": "bc58e308dd1caf2226a402291839afbbdabcabf0"
          },
          "ci_url": {
            "type": "string",
            "example": "https://github.com/tryzealot/zealot/actions/runs/9211335126"
          },
          "size": {
            "type": "integer",
            "example": 392173
          },
          "platform": {
            "type": "string",
            "example": "iOS"
          },
          "device_type": {
            "type": "string",
            "example": "iPhone"
          },
          "icon_url": {
            "type": "string",
            "example": "https://tryzealot.ews.im/assets/zealot-icon-123e8c86.png"
          },
          "install_url": {
            "type": "string",
            "example": "https://tryzealot.ews.im/M9DJa/681/download"
          },
          "changelog": {
            "type": "array",
            "$ref": "#/components/schemas/ReleaseChangelog"
          },
          "text_changelog": {
            "type": "string",
            "example": "- bump 1.1\\n-n fixes bugs"
          },
          "custom_fields": {
            "type": "array",
            "$ref": "#/components/schemas/ReleaseCustomField"
          },
          "created_at": {
            "type": "date",
            "example": "2024-03-01 12:00:00 +0800"
          }
        }
      },
      "ReleaseChangelog": {
        "description": "应用版本的更新日志",
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "example": "2024-03-01 12:00:00 +0800"
          },
          "author": {
            "type": "string",
            "example": "foo"
          },
          "email": {
            "type": "string",
            "example": "foo@example.com"
          },
          "message": {
            "type": "string",
            "example": "fixes bugs"
          }
        }
      },
      "ReleaseCustomField": {
        "description": "应用版本的自定义字段",
        "type": "object",
        "properties": {
          "icon": {
            "type": "string",
            "example": "fas fa-flag"
          },
          "name": {
            "type": "string",
            "example": "Country"
          },
          "value": {
            "type": "string",
            "example": "China"
          }
        }
      },
      "DebugFile": {
        "description": "Translation missing: zh-CN.api.schemas.debug_file.description",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "app_name": {
            "type": "string"
          },
          "device_type": {
            "type": "string"
          },
          "release_version": {
            "type": "string"
          },
          "build_version": {
            "type": "string"
          },
          "file_url": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DebugFileMetadataDSYM"
                },
                {
                  "$ref": "#/components/schemas/DebugFileMetadataProguard"
                }
              ]
            }
          }
        }
      },
      "DebugFileMetadataDSYM": {
        "description": "Translation missing: zh-CN.api.schemas.debug_file_metadata.description",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "category": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "package_name": {
            "type": "string"
          },
          "files": {
            "type": "object",
            "proterties": {
              "name": {
                "type": "string"
              },
              "size": {
                "type": "integer"
              }
            }
          },
          "created_at": {
            "type": "date"
          }
        }
      },
      "DebugFileMetadataProguard": {
        "description": "Translation missing: zh-CN.api.schemas.debug_file_metadata.description",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "category": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "bundle_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "extension": {
            "type": "boolean"
          },
          "size": {
            "type": "integer"
          },
          "created_at": {
            "type": "date"
          }
        }
      },
      "User": {
        "description": "用户",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "zh-CN",
              "en"
            ]
          },
          "appearance": {
            "type": "string",
            "enum": [
              "light",
              "dark",
              "auto"
            ]
          },
          "timezone": {
            "type": "string",
            "enum": [
              "Etc/GMT+12",
              "Pacific/Pago_Pago",
              "Pacific/Midway",
              "Pacific/Honolulu",
              "America/Juneau",
              "America/Los_Angeles",
              "America/Tijuana",
              "America/Phoenix",
              "America/Mazatlan",
              "America/Denver",
              "America/Guatemala",
              "America/Chicago",
              "America/Chihuahua",
              "America/Mexico_City",
              "America/Monterrey",
              "America/Regina",
              "America/Bogota",
              "America/New_York",
              "America/Indiana/Indianapolis",
              "America/Lima",
              "America/Halifax",
              "America/Caracas",
              "America/Guyana",
              "America/La_Paz",
              "America/Puerto_Rico",
              "America/Santiago",
              "America/St_Johns",
              "America/Sao_Paulo",
              "America/Argentina/Buenos_Aires",
              "America/Montevideo",
              "America/Godthab",
              "Atlantic/South_Georgia",
              "Atlantic/Azores",
              "Atlantic/Cape_Verde",
              "Europe/London",
              "Europe/Lisbon",
              "Africa/Monrovia",
              "Etc/UTC",
              "Europe/Amsterdam",
              "Europe/Belgrade",
              "Europe/Berlin",
              "Europe/Zurich",
              "Europe/Bratislava",
              "Europe/Brussels",
              "Europe/Budapest",
              "Africa/Casablanca",
              "Europe/Copenhagen",
              "Europe/Dublin",
              "Europe/Ljubljana",
              "Europe/Madrid",
              "Europe/Paris",
              "Europe/Prague",
              "Europe/Rome",
              "Europe/Sarajevo",
              "Europe/Skopje",
              "Europe/Stockholm",
              "Europe/Vienna",
              "Europe/Warsaw",
              "Africa/Algiers",
              "Europe/Zagreb",
              "Europe/Athens",
              "Europe/Bucharest",
              "Africa/Cairo",
              "Africa/Harare",
              "Europe/Helsinki",
              "Asia/Jerusalem",
              "Europe/Kaliningrad",
              "Europe/Kiev",
              "Africa/Johannesburg",
              "Europe/Riga",
              "Europe/Sofia",
              "Europe/Tallinn",
              "Europe/Vilnius",
              "Asia/Baghdad",
              "Europe/Istanbul",
              "Asia/Kuwait",
              "Europe/Minsk",
              "Europe/Moscow",
              "Africa/Nairobi",
              "Asia/Riyadh",
              "Europe/Volgograd",
              "Asia/Tehran",
              "Asia/Muscat",
              "Asia/Baku",
              "Europe/Samara",
              "Asia/Tbilisi",
              "Asia/Yerevan",
              "Asia/Kabul",
              "Asia/Almaty",
              "Asia/Yekaterinburg",
              "Asia/Karachi",
              "Asia/Tashkent",
              "Asia/Kolkata",
              "Asia/Colombo",
              "Asia/Kathmandu",
              "Asia/Dhaka",
              "Asia/Urumqi",
              "Asia/Rangoon",
              "Asia/Bangkok",
              "Asia/Jakarta",
              "Asia/Krasnoyarsk",
              "Asia/Novosibirsk",
              "Asia/Shanghai",
              "Asia/Chongqing",
              "Asia/Hong_Kong",
              "Asia/Irkutsk",
              "Asia/Kuala_Lumpur",
              "Australia/Perth",
              "Asia/Singapore",
              "Asia/Taipei",
              "Asia/Ulaanbaatar",
              "Asia/Tokyo",
              "Asia/Seoul",
              "Asia/Yakutsk",
              "Australia/Adelaide",
              "Australia/Darwin",
              "Australia/Brisbane",
              "Australia/Canberra",
              "Pacific/Guam",
              "Australia/Hobart",
              "Australia/Melbourne",
              "Pacific/Port_Moresby",
              "Australia/Sydney",
              "Asia/Vladivostok",
              "Asia/Magadan",
              "Pacific/Noumea",
              "Pacific/Guadalcanal",
              "Asia/Srednekolymsk",
              "Pacific/Auckland",
              "Pacific/Fiji",
              "Asia/Kamchatka",
              "Pacific/Majuro",
              "Pacific/Chatham",
              "Pacific/Tongatapu",
              "Pacific/Apia",
              "Pacific/Fakaofo"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "developer",
              "admin"
            ]
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "用户密钥认证失败",
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "NotFound": {
        "description": "资源未找到",
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Destroyed": {
        "description": "Translation missing: zh-CN.api.responses.destroyed.default",
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          }
        }
      }
    },
    "examples": {
      "Scheme": {
        "summary": "Translation missing: zh-CN.api.examples.scheme.summary",
        "value": {
          "id": 1,
          "name": "Production",
          "new_build_callout": true,
          "retained_builds": 0,
          "channels": {
            "$ref": "#/components/examples/Channel"
          }
        }
      },
      "Channel": {
        "summary": "Translation missing: zh-CN.api.examples.channel.summary",
        "value": {
          "id": 1,
          "name": "Production",
          "new_build_callout": true,
          "retained_builds": 0
        }
      }
    }
  },
  "definitions": {
    "UploadAppOptions": {
      "description": "上传应用版本表单字段结构",
      "type": "object",
      "required": [
        "channel_key",
        "file"
      ],
      "properties": {
        "channel_key": {
          "type": "string"
        },
        "file": {
          "type": "file"
        },
        "name": {
          "type": "string"
        },
        "release_type": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "changelog": {
          "$ref": "#/components/schemas/ReleaseChangelog"
        },
        "branch": {
          "type": "string"
        },
        "git_commit": {
          "type": "string"
        },
        "ci_url": {
          "type": "string"
        },
        "custom_fields": {
          "type": "array",
          "$ref": "#/components/schemas/ReleaseCustomField"
        }
      }
    },
    "AppOptions": {
      "description": "应用表单字段结构",
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "SchemeOptions": {
      "description": "应用类型表单字段结构",
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "new_build_callout": {
          "type": "boolean",
          "default": true
        },
        "retained_builds": {
          "type": "integer",
          "format": "int32",
          "default": 0
        }
      }
    },
    "ChannelOptions": {
      "description": "应用渠道表单字段结构",
      "type": "object",
      "required": [
        "name",
        "device_type"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "device_type": {
          "type": "string",
          "enum": [
            "ios",
            "android",
            "macos",
            "windows",
            "linux"
          ]
        },
        "slug": {
          "type": "string"
        },
        "bundle_id": {
          "type": "string"
        },
        "git_url": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "CollaboratorOptions": {
      "description": "应用成员表单字段结构",
      "type": "object",
      "required": [
        "role"
      ],
      "properties": {
        "role": {
          "type": "string",
          "enum": [
            "user",
            "developer",
            "admin"
          ]
        }
      }
    },
    "UserOptions": {
      "description": "用户表单字段结构",
      "type": "object",
      "required": [
        "username",
        "email",
        "password"
      ],
      "properties": {
        "username": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "locale": {
          "type": "string",
          "enum": [
            "zh-CN",
            "en"
          ]
        },
        "appearance": {
          "type": "string",
          "enum": [
            "light",
            "dark",
            "auto"
          ]
        },
        "timezone": {
          "type": "string",
          "enum": [
            "Etc/GMT+12",
            "Pacific/Pago_Pago",
            "Pacific/Midway",
            "Pacific/Honolulu",
            "America/Juneau",
            "America/Los_Angeles",
            "America/Tijuana",
            "America/Phoenix",
            "America/Mazatlan",
            "America/Denver",
            "America/Guatemala",
            "America/Chicago",
            "America/Chihuahua",
            "America/Mexico_City",
            "America/Monterrey",
            "America/Regina",
            "America/Bogota",
            "America/New_York",
            "America/Indiana/Indianapolis",
            "America/Lima",
            "America/Halifax",
            "America/Caracas",
            "America/Guyana",
            "America/La_Paz",
            "America/Puerto_Rico",
            "America/Santiago",
            "America/St_Johns",
            "America/Sao_Paulo",
            "America/Argentina/Buenos_Aires",
            "America/Montevideo",
            "America/Godthab",
            "Atlantic/South_Georgia",
            "Atlantic/Azores",
            "Atlantic/Cape_Verde",
            "Europe/London",
            "Europe/Lisbon",
            "Africa/Monrovia",
            "Etc/UTC",
            "Europe/Amsterdam",
            "Europe/Belgrade",
            "Europe/Berlin",
            "Europe/Zurich",
            "Europe/Bratislava",
            "Europe/Brussels",
            "Europe/Budapest",
            "Africa/Casablanca",
            "Europe/Copenhagen",
            "Europe/Dublin",
            "Europe/Ljubljana",
            "Europe/Madrid",
            "Europe/Paris",
            "Europe/Prague",
            "Europe/Rome",
            "Europe/Sarajevo",
            "Europe/Skopje",
            "Europe/Stockholm",
            "Europe/Vienna",
            "Europe/Warsaw",
            "Africa/Algiers",
            "Europe/Zagreb",
            "Europe/Athens",
            "Europe/Bucharest",
            "Africa/Cairo",
            "Africa/Harare",
            "Europe/Helsinki",
            "Asia/Jerusalem",
            "Europe/Kaliningrad",
            "Europe/Kiev",
            "Africa/Johannesburg",
            "Europe/Riga",
            "Europe/Sofia",
            "Europe/Tallinn",
            "Europe/Vilnius",
            "Asia/Baghdad",
            "Europe/Istanbul",
            "Asia/Kuwait",
            "Europe/Minsk",
            "Europe/Moscow",
            "Africa/Nairobi",
            "Asia/Riyadh",
            "Europe/Volgograd",
            "Asia/Tehran",
            "Asia/Muscat",
            "Asia/Baku",
            "Europe/Samara",
            "Asia/Tbilisi",
            "Asia/Yerevan",
            "Asia/Kabul",
            "Asia/Almaty",
            "Asia/Yekaterinburg",
            "Asia/Karachi",
            "Asia/Tashkent",
            "Asia/Kolkata",
            "Asia/Colombo",
            "Asia/Kathmandu",
            "Asia/Dhaka",
            "Asia/Urumqi",
            "Asia/Rangoon",
            "Asia/Bangkok",
            "Asia/Jakarta",
            "Asia/Krasnoyarsk",
            "Asia/Novosibirsk",
            "Asia/Shanghai",
            "Asia/Chongqing",
            "Asia/Hong_Kong",
            "Asia/Irkutsk",
            "Asia/Kuala_Lumpur",
            "Australia/Perth",
            "Asia/Singapore",
            "Asia/Taipei",
            "Asia/Ulaanbaatar",
            "Asia/Tokyo",
            "Asia/Seoul",
            "Asia/Yakutsk",
            "Australia/Adelaide",
            "Australia/Darwin",
            "Australia/Brisbane",
            "Australia/Canberra",
            "Pacific/Guam",
            "Australia/Hobart",
            "Australia/Melbourne",
            "Pacific/Port_Moresby",
            "Australia/Sydney",
            "Asia/Vladivostok",
            "Asia/Magadan",
            "Pacific/Noumea",
            "Pacific/Guadalcanal",
            "Asia/Srednekolymsk",
            "Pacific/Auckland",
            "Pacific/Fiji",
            "Asia/Kamchatka",
            "Pacific/Majuro",
            "Pacific/Chatham",
            "Pacific/Tongatapu",
            "Pacific/Apia",
            "Pacific/Fakaofo"
          ]
        },
        "role": {
          "type": "string",
          "enum": [
            "user",
            "developer",
            "admin"
          ]
        }
      }
    },
    "DebugFileOptions": {
      "description": "Debug file form data",
      "type": "object",
      "required": [
        "channel_key",
        "file"
      ],
      "properties": {
        "channel_key": {
          "type": "string"
        },
        "file": {
          "type": "file"
        },
        "release_version": {
          "type": "string",
          "description": "Release version (requires if Android's Proguard file)"
        },
        "build_version": {
          "type": "string",
          "description": "Build version (requires if Android's Proguard file)"
        }
      }
    }
  }
}