<% if @status.to_s == "404" %>

	Sorry, this page is missing!

<% else %>

	<div class="error">

		<!--Alert -->
		<%= image_tag 'exception_handler/alert.png', width: "150", alt: "Error!", title: "Sorry, A Server Error Occurred", class: "alert" %>
	
		<!--Message -->
		<div class="message">
			<strong><%= details[:name] %></strong>
			<span><%= details[:message] %></span>
		</div>

		<!--Contact -->
		<div class="contact">
			<% ExceptionHandler.config.social.each do |item, address| %>
				<%= link_to image_tag("exception_handler/contact/#{item}.png", title: item.to_s.titleize), address, target: :blank %>
			<% end %>
		</div>
		
	</div>

<% end %>