@import "tailwindcss" prefix(tw);
@import "~fontawesome/css/all.min.css";
/* @import "./components/adminlte-card.css"; */

@plugin "daisyui";

/* Load used tailwind + daisyui styles */
@source "../../views/**/*.html.*";
@source "../../views/**/*.rb";
@source "../../helpers/**/*.rb";
@source "../../components/**/*";
@source "../../../config/initializers/simple_form_daisyui.rb";

@source inline("sr-only");
