ruby:
  properties = [
    {
      key: t('teardowns.show.app_name'),
      value: @metadata.name
    },
    {
      key: t('teardowns.show.version'),
      value: "#{@metadata.release_version} (#{@metadata.build_version})"
    },
    {
      key: t('teardowns.show.package_name'),
      value: @metadata.bundle_id
    },
    {
      key: t('teardowns.show.release_type'),
      value: release_type_name(@metadata.release_type)
    },
    {
      key: t('teardowns.show.min_tvos_version'),
      value: @metadata.min_sdk_version
    },
    {
      key: t('teardowns.show.supported_device'),
      value: "#{device_name(@metadata.device)} (#{platform_name(@metadata.platform)})"
    },
    {
      key: t('teardowns.show.file_size'),
      value: number_to_human_size(@metadata.size)
    },
    {
      key: t('teardowns.show.uploaded_date'),
      value: l(@metadata.created_at, format: :nice)
    },
    {
      key: t('teardowns.show.uploader'),
      value: @metadata.user.username
    }
  ]

.waterfall class="columns-1!"
  .card
    .card-header
      h3.card-title
        i.fa-brands.fa-apple.mr-1
        = platform_name(@metadata.platform)
      .card-tools
        button.btn.btn-tool data-lte-toggle="card-collapse"
          i.fa-solid.fa-plus data-lte-icon="expand"
          i.fa-solid.fa-minus data-lte-icon="collapse"
    .card-body
      - properties.each do |prop|
        .property
          .property-key = prop[:key]
          .property-value = prop[:value]

  == render 'card', title: t('teardowns.show.capabilities'), raw: @metadata.capabilities
  == render 'card', title: t('teardowns.show.url_schemes', count: @metadata.url_schemes.size), raw: @metadata.url_schemes
  == render 'card', title: t('teardowns.show.entitlements', count: @metadata.entitlements.size), raw: @metadata.entitlements
  
  == render 'mobileprovision_part', enable_icon: false
  == render 'developer_certs_part'
  == render 'devices_part', devices: @metadata.devices
