- if teardown_owner?(md)
  = button_to teardown_path(md), method: :delete, class: 'btn btn-icon btn-danger w-100', \
    data: { turbo_confirm: t('teardowns.messages.confirm.destroy') } do
    i.fa-solid.fa-trash-alt
