ruby:
  begin
    app_name = @metadata.name
  rescue Android::NotFoundError
    app_name = t('teardowns.show.unkonwn')
  end

  properties = [
    {
      key: t('teardowns.show.app_name'),
      value: app_name
    },
    {
      key: t('teardowns.show.version'),
      value: "#{@metadata.release_version} (#{@metadata.build_version})"
    },
    {
      key: t('teardowns.show.package_name'),
      value: @metadata.bundle_id
    },
    {
      key: t('teardowns.show.supported_device'),
      value: "#{device_name(@metadata.device)} (HarmonyOS)"
    },
    {
      key: t('teardowns.show.file_size'),
      value: number_to_human_size(@metadata.size)
    },
    {
      key: t('teardowns.show.uploaded_date'),
      value: l(@metadata.created_at, format: :nice)
    },
    {
      key: t('teardowns.show.uploader'),
      value: @metadata.user.username
    }
  ]

.waterfall
  .card
    .card-header
      h3.card-title
        = image_tag 'icons/hmos.svg', alt: 'HarmonyOS', class: 'inline h-5 w-5 mr-1'
        = platform_name(@metadata.platform)
    .card-body
      - properties.each do |prop|
        .property
          .property-key = prop[:key]
          .property-value = prop[:value]
