ruby: 
  properties = [
    {
      key: t('teardowns.show.app_name'),
      value: @metadata.name
    },
    {
      key: t('teardowns.show.supported_device'),
      value: "#{device_name(@metadata.device)} (#{platform_name(@metadata.platform)})"
    },
    {
      key: t('teardowns.show.version'),
      value: "#{@metadata.release_version} (#{@metadata.build_version})"
    },
    {
      key: t('teardowns.show.package_name'),
      value: @metadata.bundle_id
    },
    {
      key: t('teardowns.show.release_type'),
      value: release_type_name(@metadata.release_type)
    },
    {
      key: t('teardowns.show.min_ios_version'),
      value: @metadata.min_sdk_version
    },
    {
      key: t('teardowns.show.file_size'),
      value: number_to_human_size(@metadata.size)
    },
    {
      key: t('teardowns.show.uploaded_date'),
      value: l(@metadata.created_at, format: :nice)
    },
    {
      key: t('teardowns.show.uploader'),
      value: @metadata.user.username
    }
  ]

.waterfall
  .card
    .card-header
      h3.card-title
        i.fa-brands.fa-apple.text-red-500
        = platform_name(@metadata.platform)
    .card-body.p-0.gap-0
      .p-3
        - properties.each do |prop|
          .property
            .property-key = prop[:key]
            .property-value = prop[:value]

  == render 'card', key: 'capabilities', raw: @metadata.capabilities
  == render 'card', key: 'url_schemes', raw: @metadata.url_schemes
  == render 'card', key: 'entitlements', raw: @metadata.entitlements
  == render 'mobileprovision_part', enable_icon: false
  == render 'developer_certs_part'
  == render 'devices_part', devices: @metadata.devices
