.backups {
  .switch-icon {
    padding-top: 6px;
  }
}

.edit_backup,
.new_backup {
  .form-control:disabled,
  .form-control[readonly] {
    color: #999;
  }
}

@include color-mode(dark) {
  .backups,
  .backup {
    .run-backup,
    .edit-backup,
    .download-backup {
      i {
        color: #fff;
      }
    }
  }
}
