dl.system-info {
  @extend .p-2;
  @extend .mb-0;
  font-size: 16px;

  dt {
    margin-bottom: 8px;
  }

  dd {
    margin-bottom: 0;

    pre {
      @extend .border-0;
      @extend .rounded-1;
      background-color: #f7f8f9;
      color: #2f2936;

      #current-version {
        float: none;
      }

      #new-version {
        float: none;

        a {
          color: rgb(233, 120, 120);

          i {
            padding-right: 5px;
          }
        }
      }

      @media (min-width: 768px) {
        #current-version {
          float: left !important;
        }

        #new-version {
          float: right !important;
        }
      }

      @media (max-width: 767px) {
        #current-version {
          float: none;
        }

        #new-version {
          float: none;
        }
      }
    }
  }
}

@include color-mode(dark) {
  dl.system-info dd pre {
    background-color: #181818;
    color: #f7f8f9;
  }
}
