version: '3'

services:
  app:
    build:
      context: ../
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    network_mode: service:db
  db:
    image: postgres:13-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./create-db-user.sql:/docker-entrypoint-initdb.d/create-db-user.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
  # Tools
  pgweb:
    # no editing function yet, https://github.com/sosedoff/pgweb/issues/656
    image: sosedoff/pgweb
    restart: unless-stopped
    network_mode: service:db
    environment:
      DATABASE_URL: "postgres://postgres:postgres@localhost:5432/zealot_development"

volumes:
  postgres-data:

