version: '3'

services:
  app:
    build:
      context: ../
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    network_mode: service:db
  pgweb:
    image: sosedoff/pgweb
    restart: unless-stopped
    network_mode: service:db
    environment:
      DATABASE_URL: "postgres://postgres:postgres@localhost:5432/zealot_development"
  db:
    image: postgres:11-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./create-db-user.sql:/docker-entrypoint-initdb.d/create-db-user.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis:5-alpine
    restart: unless-stopped
    network_mode: service:db
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data:
