= "// Title:   " + @jspatch.title + "\n"
= "// Apply:   " + @jspatch.app.identifier + "@" +@jspatch.version.to_s + "\n"
= "// Created: " + @jspatch.created_at.to_s + "\n"
= "// Updated: " + @jspatch.updated_at.to_s + "\n"

= raw @jspatch.script