:root {
  --card-border-color: var(--color-base-300);
  --card-header-bg-color: var(--color-base-200);
  --card-body-bg-color: var(--color-base-300);
  --card-footer-bg-color: var(--color-base-200);
}

.card {
  @layer components {
    @apply bg-base-100 flex flex-col relative;
    @apply shadow-2xl shadow-base-300 rounded-md;
    /* background-color: var(--card-body-bg-color); */

    .card-header {
      @apply p-3 border-b;
      @apply flex justify-between items-center;
      border-color: var(--card-border-color);

      .card-title {
        @apply text-lg font-semibold;
      }
      .card-tools {
        @apply flex items-center gap-2;
        > * {
          @apply inline-flex items-center justify-center;
        }
      }
    }

    .card-body {
      @apply flex flex-col gap-2 p-3 rounded-b-md;
      :where(p) {
        @apply grow;
      }
    }

    .card-footer {
      @apply bg-base-200 rounded-b-lg p-3;
    }

    &:has(> .card-footer) {
      .card-body {
        @apply rounded-none;
      }
    }

    /* outline-width: 2px;
    transition: outline 0.2s ease-in-out;
    outline: 0 solid #0000;
    outline-offset: 2px;
    &:focus {
      @apply outline-hidden;
    }

    &:focus-visible {
      outline-color: currentColor;
    }

    :where(figure:first-child) {
      @apply overflow-hidden;
      border-start-start-radius: inherit;
      border-start-end-radius: inherit;
      border-end-start-radius: unset;
      border-end-end-radius: unset;
    }

    :where(figure:last-child) {
      @apply overflow-hidden;
      border-start-start-radius: unset;
      border-start-end-radius: unset;
      border-end-start-radius: inherit;
      border-end-end-radius: inherit;
    }

    figure {
      @apply flex items-center justify-center;
    }
    &:has(> input:is(input[type="checkbox"], input[type="radio"])) {
      @apply cursor-pointer;
      user-select: none;
    }
    &:has(> :checked) {
      outline: 2px solid currentColor;
    } */
  }
}

.card.card-border {
  @layer components {
    @apply border rounded-md;
    border-color: var(--card-border-color);

    .card-header {
      @apply border-b;
      border-color: var(--card-border-color);
    }
  }
}

.card-info {
  @layer components {
    .card-header {
      @apply bg-info;
    }
  }
}

.card-success {
  @layer components {
    .card-header {
      @apply bg-success;
    }
  }
}

.card-error {
  @layer components {
    .card-header {
      @apply bg-error;
    }
  }
}

/* 
.card-header {
  @layer components {
    @apply flex justify-between items-center;
    .card-title {
      @apply text-lg font-semibold;
    }
    .card-tools {
      @apply flex items-center gap-2;
      > * {
        @apply inline-flex items-center justify-center;
      }
    }
  }
}
.card-body {
  @layer components {
    @apply flex flex-col gap-2 bg-base-content;
    :where(p) {
      @apply grow;
    }

    &:has(> .border-t) {
      @apply border-t-indigo-500;
    }
  }
}

.card-footer {
  @layer components {
    @apply flex items-center;
  }
} */
