/* :root {
  --card-base-bg-color: var(--bg-base-100);
  --card-border-color: var(--border-base-300);
  --card-header-bg-color: var(--color-base-200);
  --card-body-bg-color: var(--color-base-300);
  --card-footer-bg-color: var(--color-base-200);
} */

.card {
  @layer components {
    @apply bg-base-100 flex flex-col relative;
    @apply rounded-md shadow-sm shadow-black/18;
    @apply border border-base-300;

    .card-header {
      @apply flex justify-between items-center p-3;
      @apply border-b border-base-300;
      /* border-color: var(--card-border-color); */

      .card-title {
        @apply text-lg font-semibold;

        i {
          @apply pr-1;
        }
      }

      .card-tools {
        @apply flex items-center gap-2;
        > * {
          @apply inline-flex items-center justify-center;
        }
      }
    }

    .card-body {
      @apply flex flex-col gap-2 p-3 rounded-b-md;
      :where(p) {
        @apply grow;
      }
    }

    .card-footer {
      @apply bg-base-200 rounded-b-md px-3 py-2;
      @apply border-t border-base-300;
    }

    &:has(> .card-footer) {
      .card-body {
        @apply rounded-none;
      }
    }

    /* outline-width: 2px;
    transition: outline 0.2s ease-in-out;
    outline: 0 solid #0000;
    outline-offset: 2px;
    &:focus {
      @apply outline-hidden;
    }

    &:focus-visible {
      outline-color: currentColor;
    }

    :where(figure:first-child) {
      @apply overflow-hidden;
      border-start-start-radius: inherit;
      border-start-end-radius: inherit;
      border-end-start-radius: unset;
      border-end-end-radius: unset;
    }

    :where(figure:last-child) {
      @apply overflow-hidden;
      border-start-start-radius: unset;
      border-start-end-radius: unset;
      border-end-start-radius: inherit;
      border-end-end-radius: inherit;
    }

    figure {
      @apply flex items-center justify-center;
    }
    &:has(> input:is(input[type="checkbox"], input[type="radio"])) {
      @apply cursor-pointer;
      user-select: none;
    }
    &:has(> :checked) {
      outline: 2px solid currentColor;
    } */
  }
}

.card.card-primary {
  @layer components {
    .card-header {
      @apply bg-primary rounded-t-md;
    }

    &.card-outline {
      .card-header {
        @apply bg-base-100 border-t-4 border-t-primary;
      }
    }
  }
}

.card.card-secondary {
  @layer components {
    .card-header {
      @apply bg-secondary rounded-t-md;
    }

    &.card-outline {
      .card-header {
        @apply bg-base-100 border-t-4 border-t-secondary;
      }
    }
  }
}

.card.card-neutral {
  @layer components {
    .card-header {
      @apply bg-neutral rounded-t-md;
    }

    &.card-outline {
      .card-header {
        @apply bg-base-100 border-t-4 border-t-neutral;
      }
    }
  }
}

.card.card-info {
  @layer components {
    .card-header {
      @apply bg-info rounded-t-md;
    }

    &.card-outline {
      .card-header {
        @apply bg-base-100 border-t-4 border-t-info;
      }
    }
  }
}

.card.card-success {
  @layer components {
    .card-header {
      @apply bg-success rounded-t-md;
    }

    &.card-outline {
      .card-header {
        @apply bg-base-100 border-t-4 border-t-success;
      }
    }
  }
}

.card.card-warning {
  @layer components {
    .card-header {
      @apply bg-warning rounded-t-md;
    }

    &.card-outline {
      .card-header {
        @apply bg-base-100 border-t-4 border-t-warning;
      }
    }
  }
}

.card.card-error {
  @layer components {
    .card-header {
      @apply bg-error rounded-t-md;
    }

    &.card-outline {
      .card-header {
        @apply bg-base-100 border-t-4 border-t-error;
      }
    }
  }
}
