.card {
  @layer components {
    @apply tw:flex tw:flex-col tw:rounded-lg tw:relative tw:shadow-lg;

    .card-header {
      @apply tw:bg-base-200 tw:rounded-t-md tw:p-3;
    }

    .card-body {
      @apply tw:flex tw:flex-col tw:gap-2 tw:p-3 tw:rounded-b-md;
      :where(p) {
        @apply tw:grow;
      }
    }

    .card-footer {
      @apply tw:bg-base-200 tw:rounded-b-lg tw:p-3;
    }

    /* outline-width: 2px;
    transition: outline 0.2s ease-in-out;
    outline: 0 solid #0000;
    outline-offset: 2px;
    &:focus {
      @apply outline-hidden;
    }

    &:focus-visible {
      outline-color: currentColor;
    }

    :where(figure:first-child) {
      @apply overflow-hidden;
      border-start-start-radius: inherit;
      border-start-end-radius: inherit;
      border-end-start-radius: unset;
      border-end-end-radius: unset;
    }

    :where(figure:last-child) {
      @apply overflow-hidden;
      border-start-start-radius: unset;
      border-start-end-radius: unset;
      border-end-start-radius: inherit;
      border-end-end-radius: inherit;
    }

    figure {
      @apply flex items-center justify-center;
    }
    &:has(> input:is(input[type="checkbox"], input[type="radio"])) {
      @apply cursor-pointer;
      user-select: none;
    }
    &:has(> :checked) {
      outline: 2px solid currentColor;
    } */
  }
}

.card-info {
  @layer components {
    .card-header {
      @apply tw:bg-info;
    }
  }
}

.card-success {
  @layer components {
    .card-header {
      @apply tw:bg-success;
    }
  }
}

.card-header {
  @layer components {
    @apply tw:flex tw:justify-between tw:items-center;
    .card-title {
      @apply tw:text-lg tw:font-semibold;
    }
    .card-tools {
      @apply tw:flex tw:items-center tw:gap-2;
      > * {
        @apply tw:inline-flex tw:items-center tw:justify-center;
      }
    }
  }
} */

.card-body {
  @layer components {
    @apply tw:flex tw:flex-col tw:gap-2 tw:bg-base-content;
    :where(p) {
      @apply tw:grow;
    }

    &:has(> .border-t) {
      @apply tw:border-t-indigo-500;
    } 
  }
}

.card-footer {
  @layer components {
    @apply tw:flex tw:items-center;
  }
} 
