.timeline::before {
  left: 13px;
}

.timeline {
  div {
    margin-right: 0;

    .fas,
    .fa,
    .fab,
    .far {
      left: 0;
    }

    .timeline-item {
      margin-left: 40px;
      background-color: #f8f8f8;
    }

    .timeline-footer {
      .badge {
        margin-left: 5px;
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
      }
    }
  }
}

// 适配 card 内内容超长
.card-body {
  .table {
    td {
      word-break: break-all;
    }
  }
}