.timeline {
  div {
    .timeline-item {
      background-color: #f8f8f8;
    }

    .fa {
      margin-top: 4px;
    }

    .timeline-footer {
      .badge {
        margin-left: 5px;
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
      }
    }
  }
}