.login-box {
  width: 440px;
}

.btn-google {
  background-color: #ea4335;
  color: #fff;
}

.btn-google:hover {
  background-color: #ba4335;
  color: #fff;
}

.btn-feishu {
  background-color: #3370ff;
  color: #fff;
}

.btn-feishu:hover {
  background-color: #2851b3;
  color: #fff;
}