
.navbar-empty {
  @extend .navbar-collapse !optional;
  @extend .justify-content-md-center !optional;

  .brand-link {
    padding: 0;

    [class*="navbar-white"] & {
      color: $black;
    }

    [class*="navbar-black"] & {
      color: $white;
    }
  }
}

.layout-top-nav .wrapper .main-header .navbar-empty .brand-image {
  margin-top: -0.1rem;
}

.card-body {
  .table {
    margin-bottom: 0;
  }
}

.login-box {
  margin: auto;
}

.btn-icon {
  margin-right: 10px;

  .fa,
  .fab,
  .far,
  .fas {
    margin-right: 5px;
  }
}

i.icon {
  margin-right: 5px;
}

.timeline-item {
  .time {
    i.icon {
      margin-right: 3px;
    }
  }
}

.dark-mode {
  a {
    color: #64adfb;
  }
}