dl.system-info {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0;

  dt {
    margin-bottom: 8px;
  }

  dd {
    margin-bottom: 20px;

    pre {
      border: 0;
      background-color: #f7f8f9;
      color: #2f2936;

      #new-version a {
        color: rgb(233, 120, 120);

        i {
          padding-right: 5px;
        }
      }
    }
  }
}