<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string><%= api_app_download_url(@latest_release.id) %></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string><%= @app.identifier %></string>
        <key>bundle-version</key>
        <string><%= @latest_release.release_version %></string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string><%= @app.name %></string>
      </dict>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key> <string>http://a1.mzstatic.com/us/r30/Purple3/v4/bf/e6/3a/bfe63ab7-0d18-799d-f963-f2d9fadec46e/icon57x57.png</string>
   </dict>
   <dict>
    <key>kind</key>
    <string>full-size-image</string>
    <key>needs-shine</key>
    <true/>
    <key>url</key>  <string>http://a1.mzstatic.com/us/r30/Purple3/v4/bf/e6/3a/bfe63ab7-0d18-799d-f963-f2d9fadec46e/icon512x512.png</string>
    </dict>
  </array>
</dict>
</plist>
