- if value.is_a?(TrueClass) || (value.is_a?(Hash) && value[:enabled].is_a?(TrueClass))
  i.fa-solid.fa-check-circle.text-success.mr-1
- elsif value.is_a?(FalseClass) || (value.is_a?(Hash) && value[:enabled].is_a?(FalseClass))
  i.fa-solid.fa-circle.text-error.mr-1
