// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.install-cert-notices {
  text-align: center;
  padding-top: 1.2em;
  color: #FFF;
}

// div.install-cert-notices a,
// div.install-cert-notices a:visited {
//
// }

div.app-container {
  width: 650px;
}


div.app-container span.app-type {
  font-size: 0.1em;
  margin-left: 0.5em;
}
