.products-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .product-item {
    @extend .d-flex;
    @extend .py-3;

    border-bottom: 1px solid var(--bs-border-color) !important;

    .product-img {
      @extend .ps-3;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .product-info {
      @extend .w-100;
      @extend .px-3;

      font-weight: 500;

      .product-description {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &:last-child {
      border-bottom: none !important;
    }
  }
}

.nav-pills .nav-link-flat {
  border-radius: 0;
}
