.product-list-in-card {
  .item {
    .product-img {
      margin-left: 10px;
    }

    .product-info {
      margin-left: 70px;
      margin-right: 10px;
    }
  }
}

.filter-nav {
  // border: 1px solid #000;
  @extend .card !optional;
}

.nav-pills .nav-link-flat {
  border-radius: 0;
}