.timeline::before {
  left: 13px;
}

.timeline {
  div {
    margin-right: 0;

    .fas,
    .fa,
    .fab,
    .far {
      left: 0;
    }

    .fa-clock {
      color: #ffffff;
    }

    h3 {
      font-weight: 400;
    }

    .time-title {
      @extend .bg-primary !optional;
      @extend .text-white;

      padding: 2px 4px;
    }

    .timeline-item {
      margin-left: 40px;
      background-color: #f8f8f8;

      .timeline-footer {
        .badge {
          margin-left: 5px;
          color: #31708f;
          background-color: #d9edf7;
          border-color: #bce8f1;
        }

        .btn {
          margin-left: 5px;
        }
      }
    }
  }
}

// 适配 card 内内容超长
.card-body {
  .table {
    td {
      word-break: break-all;
    }
  }
}

@include color-mode(dark) {
  .timeline {
    div {
      .fas,
      .fa,
      .fab,
      .far {
        background-color: #454d55;
      }

      .time-title {
        background-color: var(--bs-primary-bg) !important;
      }

      .timeline-item {
        background-color: #293138;
        border-color: var(--bs-border-color);

        .timeline-header {
          border-color: var(--bs-border-color);
        }

        .timeline-footer .badge {
          color: #dbe3ec;
          background-color: #486685;
          border-color: var(--bs-primary-bg);
        }
      }
    }

    &::before {
      background-color: #454d55;
    }
  }
}
