.debug-file {
  @extend .bg-white !optional;
  @extend .border !optional;
  @extend .rounded !optional;
  @extend .mx-1 !optional;
  @extend .mb-3 !optional;

  .debug-file-info {
    @extend .p-0 !optional;
    @extend .border-left !optional;

    table > thead > tr > td {
      @extend .bg-light !optional;
    }
  }
}

@include color-mode(dark) {
  .debug-file {
    background-color: var(--bs-body-bg) !important;
    border-color: #343a40 !important;

    .debug-file-info {
      border-left: 1px solid #343a40 !important;

      table > thead > tr > td {
        background-color: #282c31 !important;
      }
    }
  }
}
