.navbar-brand {
  img {
    width: 40px;
    height: 40px;
  }
}

a {
  text-decoration: none;
}

.callout {
  a {
    text-decoration: underline;
  }
}

.navbar-brand {
  .brand-text {
    vertical-align: middle;
  }
}

.navbar-empty {
  @extend .navbar-collapse !optional;
  @extend .justify-content-center !optional;
  @extend .align-items-center !optional;
}

ul.pagination {
  margin: 0;
}

.card-body {
  .table {
    margin-bottom: 0;
  }
}

.login-box {
  margin: auto;
}

.btn-group {
  .btn-icon {
    margin-right: 0;
  }
}

.btn-icon {
  margin-right: 10px;

  i {
    margin-right: 5px;
  }
}

i.icon {
  margin-right: 5px;
}

.timeline-item {
  .time {
    i.icon {
      margin-right: 3px;
    }
  }
}

.table-bottom-borderless {
  tbody {
    tr:last-child {
      td {
        @extend .rounded-bottom;

        border-bottom: none !important;
      }
    }
  }
}

.default-tooltip {
  --bs-tooltip-max-width: 300px;
  --bs-tooltip-padding-x: 0.6rem;
  --bs-tooltip-padding-y: 0.3rem;
  --bs-tooltip-bg: #000;
  --bs-tooltip-color: var(--bs-white);
}

.app-content-header {
  .section-title {
    margin-bottom: 0;
  }

  /* col-sm and below style */
  @media (max-width: 767.98px) {
    .section-title {
      margin-bottom: 0.6rem;
    }
  }
}

@include color-mode(dark) {
  .cover {
    opacity: 0.45;
  }

  .nav-item .active {
    color: #fff;
    background-color: var(--bs-primary-bg);
  }

  .border-bottom {
    border-color: var(--bs-border-color) !important;
  }

  .img-bordered-sm {
    border-color: #323435;
  }

  .card-header {
    border-color: #6c6b6b;
  }

  .form-control:disabled,
  .form-control[readonly] {
    border-color: #505356 !important;
    background-color: #393a3c !important;
    color: #999 !important;
  }

  .btn-secondary {
    background-color: var(--bs-card-bg);
  }

  .default-tooltip {
    --bs-tooltip-bg: #3f3f3f;
    --bs-tooltip-color: var(--bs-white);
  }
}

.app-footer {
  @extend .py-2;

  min-height: 1rem;
}


fieldset {
  border-width: 0;
  padding: 0;
}