.certificates {
  @extend .p-0;
  @extend .text-body-tertiary;

  .certificate {
    @extend .p-3;
    @extend .border-bottom;
    @extend .mb-2;

    .certificate-title {
      @extend .d-flex;
    }

    ul {
      @extend .p-0;
      @extend .m-0;
      @extend .mt-2;

      list-style: none;
      padding: 0 !important;

      li {
        .key {
          @extend .fw-bold;
          width: 80px;
        }

        .value {
          @extend .ps-1;
        }
      }
    }

    &:last-child {
      border-bottom-width: 0 !important;
    }
  }
}

@include color-mode(dark) {
  .certificate {
    border-color: var(--bs-danger-bg);
  }
}
