/* lobal app icon */
.app-icon {
  @apply tw:rounded-lg tw:size-18 tw:overflow-hidden;
}

.app-empty-icon {
  @apply tw:border tw:border-gray-300 tw:dark:border-0 tw:dark:bg-white tw:rounded;
}

/* channel/show recent activity */
#app-channel-activity {
  .app-icon {
    @apply tw:size-10;
  }
}
