name: Clean Unused Docker Image

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"  # every day
jobs:
  clean:
    runs-on: ubuntu-latest
    name: Delete old unused images
    steps:
      - name: Clean tryzealot/zealot images
        uses: snok/container-retention-policy@v3.0.1
        with:
          account: tryzealot
          token: ${{ secrets.SECRET_API_TOKEN }}
          image-names: "zealot"
          tag-selection: untagged
          cut-off: 4w
          dry-run: false
      - name: Clean tryzealot/codespace images
        uses: snok/container-retention-policy@v3.0.1
        with:
          account: tryzealot
          token: ${{ secrets.SECRET_API_TOKEN }}
          image-names: "codespace"
          tag-selection: untagged
          cut-off: 4w
          dry-run: false
