name: Publish Nightly Docker Image
on:
  push:
    paths-ignore:
      - '.github/*.yml'
      - '*.md'
      - '.*'
      - 'LICENSE'
      - 'Guardfile'
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Get build date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d %H:%M:%S %z')"
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      env:
        REPLACE_CHINA_MIRROR: false
        VCS_REF: ${{ github.sha }}
        BUILD_DATE: ${{ steps.date.outputs.date }}
        VERSION: nightly
      with:
        name: icyleafcn/zealot:${{ env.VERSION }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        buildargs: BUILD_DATE,VCS_REF,VERSION,REPLACE_CHINA_MIRROR
    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v2.1.0
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKERHUB_REPOSITORY: icyleafcn/zealot
    - name: Trigger Microbadger update
      uses: wei/curl@master
      with:
        args: -X POST ${{ secrets.MICROBADGER_WEBHOOK_URL }}