name: Publish Nightly Docker Image
on:
  push:
    paths-ignore:
      - '.devcontainer/*'
      - '.github/*.yml'
      - '.github/workflows/publish_codespace.yml'
      - '.github/workflows/publish_release.yml'
      - '*.md'
      - '.*'
      - 'LICENSE'
      - 'Guardfile'
      - Aptfile
      - 'Procfile*'
      - '*.yaml'
    branches:
      - develop

env:
  DOCKER_TAG: nightly

jobs:
  push_to_registry:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Get build date
      id: build_date
      run: |
        echo "BUILD_DATE_TAG=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker metadata
      id: metadata
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ github.repository }}
          ghcr.io/${{ github.repository }}
        tags: |
          type=raw,value=${{ env.DOCKER_TAG }}
          type=raw,value=${{ env.DOCKER_TAG }}-${{ steps.build_date.outputs.BUILD_DATE_TAG }}

    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        labels: ${{ steps.metadata.outputs.labels }}
        tags: ${{ steps.metadata.outputs.tags }}
        platforms: linux/amd64,linux/arm64
        build-args: |
          REPLACE_CHINA_MIRROR=false
          VCS_REF=${{ github.sha }}
          TAG=${{ env.DOCKER_TAG }}
          BUILD_DATE=${{ fromJSON(steps.metadata.outputs.json).labels['org.opencontainers.image.created'] }}
