name: Test Docker Build

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '.devcontainer'
      - '.vscode'
      - 'LICENSE'
      - '*file'
      - 'Procfile*'
      - '*.yaml'
      - '*.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Set Docker Build Date
      id: build_date
      run: echo "::set-output name=value::$(date +'%Y-%m-%d')"

    - name: Docker metadata
      id: metadata
      uses: docker/metadata-action@v4
      with:
        images: ghcr.io/${{ github.repository }}

    - name: Test build
      uses: docker/build-push-action@v3
      with:
        context: .
        push: false
        labels: ${{ steps.metadata.outputs.labels }}
        tags: |
          ${{ steps.metadata.outputs.tags }}
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        build-args: |
          REPLACE_CHINA_MIRROR=false
          VCS_REF=${{ github.sha }}
          BUILD_DATE=${{ steps.build_date.outputs.date }}