script async=true src="//www.googletagmanager.com/gtag/js?id=#{Setting.google_analytics_id}"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '#{Setting.google_analytics_id}');