= turbo_stream_from current_user, :notifications if user_signed_in?

= turbo_frame_tag :notifications, class: 'space-y-3 fixed bottom-0 right-0 z-0 mb-2 mr-2' do
  - flash.each do |type, message|
    = render FlashComponent.new(message, type: type)
