= turbo_stream_from dom_id(current_user, :notifications) if user_signed_in?

#notifications class="tw:fixed tw:bottom-0 tw:right-0 tw:z-0 tw:mb-2 tw:mr-2"
  - flash.each do |type, message|
    = render FlashComponent.new(message, type: type)
